.verify-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.verify-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 100%;
  background-color: var(--blankfactor-gray-1-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;
  padding: 1em;
}

.otp-input {
  height: 10em;
  width: 5em;
  margin: 1em;
  font-size: 1.5em;
  text-align: center;
  border-radius: 1em;
  border: 3px solid var(--blankfactor-gray-3-color);
}
