:root {
  // Global color variables (by Blankfactor design guidelines)
  --blankfactor-oxford-color: #080731;
  --blankfactor-ultramarine-color: #2b6aff;
  --blankfactor-sky-color: #00c3e5;
  --background-ghostwhite: #f8f8ff;
  --border-color: #ccc;
  --error-color: #ff0000;
  --separator-line-color: #ddd;
  --separator-text-color: #666;
  --white-color: #fff;
  --anti-flash-white-color: #f0f0f0;
  --active-link-sidebar-color: #ffffff65;
  --list-item-text-color: #000;
  --rsvp-create-page-bgcolor: #f4f4f4;
}