$active-link-color: #ffffff65;
$list-item-text-color: #000;

.link-styles {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 8px;
    width: 240px;
}

.link-active {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 5px;
    background-color: $active-link-color;
    width: 60px;
    border-radius: 5px; 
    transition: 0.3s all;
}

.link-open {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 5px;
    background-color: $active-link-color;
    width: 230px;
    border-radius: 5px;
    transition: 0.3s all;
}

.list-subheader {
    display: flex-start;
    justify-content: center;
    align-items: center;
    transition: 0.3s all;
  }
  
  .list-item-text {
    white-space: nowrap;
    color: $list-item-text-color;
    text-decoration: none;
  }
  
  .list-item-button {
    justify-content: flex-start;
    padding-right: 0;
    height: 48px;
  }
  